body{
    background-color:AntiqueWhite;
}
* {
    box-sizing: border-box;
    
}
.header {
    border: 1px solid rgba(255,255,2,0);
    padding: 15px;
}

.game {
    width: 50%;
    float: left;
    padding: 15px;
    border: 1px solid rgba(255,255,2,0);
}
.guess {
    
    width: 50%;
    float: left;
    padding: 15px;
    border: 1px solid rgba(255,255,2,0);
    
    
}

.myButton {
	background-color:#44c767;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.myButton:hover {
	background-color:#5cbf2a;
}
.myButton:active {
	position:relative;
	top:1px;
}

.box {
	-webkit-box-shadow: 14px 13px 20px 0px rgba(0,0,0,0.55);
    -moz-box-shadow: 14px 13px 20px 0px rgba(0,0,0,0.55);
    box-shadow: 14px 13px 20px 0px rgba(0,0,0,0.55);
}